@{
    ViewBag.Title = "User";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
    <body>
        <div class="container-flex-centered">
            <h4>Personal User Cabinet</h4>
            <p>Here you can see your personal information</p>
            <p class="highighted">You need to <a href="User/Login">login</a> to see your Personal User Cabinet</p>
        </div>
    </body>
</html>
@{
}
