@{
    ViewData["Title"] = "About";
}
<body>
    <div class="text-center">
        <h4>About</h4>
        <p>I'm a first year student in Zhytomyr Polytechnic State University and this is my first WebApplication</p>
    </div>
</body>                                                                           
@{        
}
