@{
    ViewData["Title"] = "Contact";
}
<body>
    <div class="text-center">
        <h4>Contact</h4>
        <p>My email: vsevcuk111@gmail.com</p>
        <p>My phone: +380 97 406 53 70</p>
        <p>My address: Ukraine, Zhytomyr, 10031</p>
    </div>
</body>
@{
}
