@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<div class="container-flex-centered">
    <h1 class="display-4">Welcome To My First Web App</h1>
    <a href="Home/About">About this site and me.</a>
    <a href="Home/Contact">My contacts.</a>
    <img class="sana-logo" src="https://s.dou.ua/img/static/companies/NEW_sana_logo_diapositive_-_red_main.png" alt="sana commerce logo"/>
</div>
